.elementor-form {
    max-width: 100% !important;
}
.elementor-field-group {
    width: 100%;
}
.elementor-field-label {
    font-family: "Roboto", Sans-serif;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #00131B;
}
.elementor-field.elementor-select {
    background-color: #ffffff;
    border-color: #9CAFB7;
    border-radius: 5px 5px 5px 5px;
    min-height: 33px;
    padding: 4px 12px;
}
.elementor-button {
    color: #ffffff;
    background-color: #00354A;
        font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px 25px 25px 25px;
    width: 25%;
    margin-top: 10px;
}
.elementor-button:hover {
    background-color: #00354A;
}